In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-04-20 19:33:44,-53.1500,-70.9167,51.91,62,40,23.02
1,1,Solnechnyy,RU,2022-04-20 19:33:45,50.7214,136.6319,32.47,95,100,6.62
2,2,Djougou,BJ,2022-04-20 19:33:45,9.7085,1.6660,80.80,60,100,1.59
3,3,Dalhousie,IN,2022-04-20 19:33:45,32.5333,75.9833,55.83,47,4,10.18
4,4,Yumen,CN,2022-04-20 19:33:46,40.2833,97.2000,49.42,15,100,8.23

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Djougou,BJ,2022-04-20 19:33:45,9.7085,1.6660,80.80,60,100,1.59
11,11,Dwarka,IN,2022-04-20 19:33:48,22.2394,68.9678,80.26,82,0,11.95
12,12,Kathu,TH,2022-04-20 19:33:48,7.9178,98.3332,76.82,79,100,7.56
13,13,Atuona,PF,2022-04-20 19:33:48,-9.8000,-139.0333,78.82,74,38,17.63
17,17,Kieta,PG,2022-04-20 19:33:50,-6.2167,155.6333,79.32,86,87,4.63
18,18,Kapaa,US,2022-04-20 19:33:50,22.0752,-159.3190,78.78,77,20,16.11
26,26,Phra Phutthabat,TH,2022-04-20 19:33:52,14.7253,100.7954,81.77,79,62,3.24
28,28,Rikitea,PF,2022-04-20 19:33:53,-23.1203,-134.9692,78.57,72,2,19.04
30,30,Aquiraz,BR,2022-04-20 19:33:53,-3.9014,-38.3911,86.09,82,54,8.48
33,33,Port Hedland,AU,2022-04-20 19:33:54,-20.3167,118.5667,80.65,32,90,5.75

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Djougou      BJ     80.80   9.7085    1.6660
11           Dwarka      IN     80.26  22.2394   68.9678
12            Kathu      TH     76.82   7.9178   98.3332
13           Atuona      PF     78.82  -9.8000 -139.0333
17            Kieta      PG     79.32  -6.2167  155.6333
18            Kapaa      US     78.78  22.0752 -159.3190
26  Phra Phutthabat      TH     81.77  14.7253  100.7954
28          Rikitea      PF     78.57 -23.1203 -134.9692
30          Aquiraz      BR     86.09  -3.9014  -38.3911
33     Port Hedland      AU     80.65 -20.3167  118.5667

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.